<div class="row row-cols-1 row-cols-md-2 g-4 mt-2">
    <div *ngFor="let courses of sideBarService.apiResponse.courses; let i = index">
        <div class="col pointer" (click)="triggerModal(i)">
            <div class="card bg-dark">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-danger" >{{courses.courseName}} -
                        {{courses.courseId}}</h5>
                    <p class="card-text text-primary">
                        credits: {{courses.courseCredits}}
                        <br />Name: {{courses.courseTutorName}} <br />
                        Email : {{courses.courseTutorEmail}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>