<app-modal-notification></app-modal-notification>
<app-course-modal></app-course-modal>
<app-header></app-header>
<div
  [ngClass]="{'home-background': sidebarService.triggerNotificationModal == 'none', 'blurred': sidebarService.triggerNotificationModal == 'block'}">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-1">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-lg-7 height content-border">
        <div class="text-info">
          <button class="btn btn-outline-info btn-sm disabled">
            {{sidebarService.feedStatus}}
          </button>
          <span class="border-bottom mt-2"> </span>
        </div>
        <div [ngSwitch]="sidebarService.feedStatus">
          <div *ngSwitchCase="'updates'">
            <app-updates></app-updates>
          </div>
          <div *ngSwitchCase="'courses'">
            <app-courses></app-courses>
          </div>
          <div *ngSwitchCase="'notifications'">
            <app-notifications></app-notifications>
          </div>
          <div *ngSwitchCase="'settings'">
            <app-settings></app-settings>
          </div>
          <div *ngSwitchCase="'logout'">fsj</div>
          <div *ngSwitchDefadivt></div>
        </div>
      </div>
      <div class="col-lg-4 border-left">
        <app-notifications></app-notifications>
      </div>
    </div>
  </div>
</div>