.home-background {
  background-color: #1b1b1b;
  min-height: 100vh !important;
}
.fixed {
  position: fixed !important;
}
input {
  background-color: #1b1b1b;
  color: whitesmoke;
  border-color: #0dcaf0;
}
.menu-status {
  border-color: #353333;
  border-radius: 1.5%;
}
.content-border {
  border-left: 0.5px solid #d9d9d9 !important;
  border-right: 0.5px solid #d9d9d9 !important;
  border-top: none !important;
  border-bottom: none !important;
}
.status-border {
  border: 0 0.5px 0.5px 0.5px solid #d9d9d9 !important;
}

.border-bottom{
  border: none;
  border-bottom: 0.5px solid #d9d9d9 !important;
}
