<div class="text-white ml-2">
  <button class="btn btn-outline-info btn-sm disabled">notifications</button>
</div>

<div class="container mt-4 position-fixed ">
  <div class="row width">
    <div class="card-body round bg-dark" data-aos="fade-left">
      <h5 class="card-title border-bottom text-danger">OverDue</h5>
      <p class="card-text text-danger">Some quick example text to build on the card title and make up the bulk of the
        card's
        content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="row mt-2 width">
    <div class="card-body bg-dark" data-aos="fade-left">
      <h5 class="card-title border-bottom text-success">upcoming</h5>
      <p class="card-text text-success">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>