<div class="text-white ml-2">
  <button class="btn btn-outline-info btn-sm disabled">notifications</button>
</div>

<div class="container mt-4 ">
  <div class="row">
    <div class="card-body round bg-dark" data-aos="fade-left">
      <h5 class="card-title border-bottom text-danger">OverDue</h5>
      <div *ngFor="let posts of overdue; let i = index">
        <div class="mt-2 card  upcoming-bg">
          <div class="card-header text-white align-items-start">
            {{i+1}}. {{posts.notificationDate | date:'fullDate'}} - {{posts.notificationSubject}}
          </div>
          <a class="card-body text-center textBlack pointer" (click)="triggerModal(overdue[i])">
            <fa-icon [icon]="faHome" class="faHome"></fa-icon> {{posts.notificationContent}}
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="card-body bg-dark" data-aos="fade-left">
      <h5 class="card-title border-bottom text-success">upcoming</h5>
      <div *ngFor="let posts of upcoming; let i = index">
        <div class="mt-2 card  upcoming-bg">
          <div class="card-header text-white align-items-start">
            {{i+1}}. {{posts.notificationDate | date:'fullDate'}} - {{posts.notificationSubject}}
          </div>
          <a class="card-body text-start textBlack pointer" (click)="triggerModal(upcoming[i])">
            <div *ngIf="posts.notificationType == 'submission' ; else hanson">
              <fa-icon [icon]="faHome" class="faHome"></fa-icon>
            </div>
            <ng-template #hanson>
              <fa-icon [icon]="faPod" class="faPod"></fa-icon>
            </ng-template>
            {{posts.notificationContent | slice:0:30}}
            <span ng-show="posts.hansonPostContent.length > 20">...</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>