<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5" style="background-color: rgb(240, 109, 92); height: 100vh;">
            <p data-aos="fade-right" class="global-container text-white" data-aos-duration="3000">
                Welcom to Hanson Application. Login to Acess the portal.
            </p>
        </div>
        <div class="col-lg-7 " style="background-color:  #121212; height: 100vh;">
            <div class="global-container ">
                <div class="card login-form" data-aos="zoom-in" data-aos-duration="3000">
                    <div class="card-body">
                        <h3 class="card-title text-center">
                            <fa-icon [icon]="faUser" class="fauser"></fa-icon>
                        </h3>
                        <div class="card-text">
                            <div *ngIf="iserror">
                                <div class="alert alert-danger alert-dismissible fade show" data-aos="fade-left"
                                    data-aos-anchor="#example-anchor" data-aos-offset="500" data-aos-duration="500"
                                    data-bs-autohide="true" role="alert">
                                    <fa-icon [icon]="faError" class="faError"></fa-icon>{{ apiError }}!
                                    <button type="button" class="btn-close" (click)="errorDismiss()"
                                        data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            </div>

                            <form [formGroup]="loginForm">
                                <div class="form-group">
                                    <div class="form-floating mb-3 text-dark">
                                        <input type="text" formControlName="username"
                                            [ngClass]="{'is-invalid':loginForm.controls.username.errors}"
                                            class="form-control" id="floatingInput" placeholder="h10002711" required>
                                        <label for="floatingInput">username</label>
                                        <div *ngIf="loginForm.controls.username.errors" class="invalid-feedback">
                                            username is required
                                        </div>
                                    </div>

                                    <div class="form-floating">
                                        <input type="password" formControlName="password"
                                            [ngClass]="{'is-invalid':loginForm.controls.password.errors}"
                                            class="form-control" id="floatingPassword" placeholder="Password" required>
                                        <label for="floatingPassword">Password</label>
                                        <div *ngIf="loginForm.controls.password.errors" class="invalid-feedback">
                                            password must be alpha numeric
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-info btn-block" [disabled]="!loginForm.valid"
                                    (click)="onLoginSubmit()">Sign in</button>

                                <div class="sign-up text-info">
                                    Don't have an account? <a href="#">Create One</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>