<div class="body">
    <div *ngFor="let posts of updates; let index = index">
        <div class="card mt-4" data-aos="zoom-in" aos-duration="3000">
            <div class="card-header">(1)
                {{index}}
            </div>
            <div class="card-body ">
                <h5 class="card-title">hanson_post_createdDate</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>