.body {
  overflow-y: hidden !important;
}

.card-bg {
  background-color: lightslategrey;
  color: white;
}

.textBlack {
  color: black;
}
.align-right {
  margin-right: 0% !important;
}
.text-red {
  color: #980a0a !important;
}


