<div class="modal" data-aos="zoom-in" aos-duration="3000" tabindex="-1" [ngStyle]="{'display': modalDisplay }">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Your Profile:</h5>
                <button type="button" (click)="dismissModal()" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3 needs-validation" novalidate>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">email</label>
                        <input type="email" class="form-control" aria-required="true" required id="inputEmail4"
                            [(ngModel)]="updateProfile.userName"
                            (change)="onChangeValue('userName',$event.target.value)">
                    </div>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Address</label>
                        <input type="text" class="form-control" id="inputAddress" required aria-required="true"
                            [(ngModel)]="updateProfile.userAddress"
                            (change)="onChangeValue('userAddress',$event.target.value)" placeholder="1234 Main St">
                    </div>
                    <div class="col-12">
                        <label for="inputAddress2" class="form-label">Address 2</label>
                        <input type="text" class="form-control" required aria-required="true" id="inputAddress2"
                            [(ngModel)]="updateProfile.userAddress"
                            (change)="onChangeValue('userAddress',$event.target.value)"
                            placeholder="Apartment, studio, or floor">
                    </div>

                    <div class="col-md-6">
                        <label for="validationCustom03" class="form-label">City</label>
                        <input [(ngModel)]="updateProfile.userCity" type="text" class="form-control"
                            id="validationCustom03" (change)="onChangeValue('userCity',$event.target.value)" required>
                        <div class="invalid-feedback">
                            Please provide a valid city.
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="validationCustom04" class="form-label">State</label>
                        <input [(ngModel)]="updateProfile.userState" type="text" class="form-control"
                            id="validationCustom03" (change)="onChangeValue('userState',$event.target.value)" required>
                        <div class="invalid-feedback">
                            Please provide a valid State.
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="validationCustom05" class="form-label">Zip</label>
                        <input type="text" class="form-control" id="validationCustom05"
                            (change)="onChangeValue('userZipCode',$event.target.value)"
                            [(ngModel)]="updateProfile.userZipCode" required>
                        <div class="invalid-feedback">
                            Please provide a valid zip.
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label" for="invalidCheck">
                                Agree to terms and conditions
                            </label>
                            <div class="invalid-feedback">
                                You must agree before submitting.
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <button type="submit" (click)="updateUserProfile()" class="btn btn-primary"
                            aria-required="true">Submit</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="dismissModal()" class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
                        alt="" />
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        Harley victor
                    </h5>
                    <h6>
                        Web Developer and Designer
                    </h6>
                    <p class="proile-rating">GPA : <span>4/4</span></p>
                </div>
            </div>
            <div class="col-md-2">
                <button type="submit" class="profile-edit-btn" name="btnAddMore" (click)="profileEdit()">Edit Profile
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>WORK LINK</p>
                    <a href="">Website Link</a><br />
                    <a href="">Bootsnipp Profile</a><br />
                    <a href="">Bootply Profile</a>
                    <p>SKILLS</p>
                    <a href="">Web Designer</a><br />
                    <a href="">Web Developer</a><br />
                    <a href="">WordPress</a><br />
                    <a href="">WooCommerce</a><br />
                    <a href="">PHP, .Net</a><br />
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <label>User Id</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{this.userData[0].hanson_userDetails_email}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Name</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{this.userData[0].hanson_userDetails_name}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Email</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{this.userData[0].hanson_userDetails_email}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Phone</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{this.userData[0].phone_number}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Profession</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{this.userData[0].profession}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label>Experience</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{this.userData[0].experience}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Hourly Rate</label>
                    </div>
                    <div class="col-md-6">
                        <p>10$/hr</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Total Projects</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{this.userData[0].total_project}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>English Level</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{this.userData[0].english_level}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Availability</label>
                    </div>
                    <div class="col-md-6">
                        <p>6 months</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Your Bio</label><br />
                        <p>Your detail description</p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>