<div class="modal" data-aos="zoom-in" aos-duration="3000" tabindex="-1" role="dialog"
    [ngStyle]="{'display':sidebarService.triggerNotificationModal}">
    <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content bg-black">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button (click)="onCloseHandled()" class="btn btn-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex">
                    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
                        <li ngbNavItem="top">
                            <a ngbNavLink>Submission:</a>
                            <ng-template ngbNavContent>
                                <div class="ml-4">
                                    <p class="modal-title"> {{sidebarService.modalContent.notificationDate |
                                        date:'fullDate'}} -
                                        {{sidebarService.modalContent.notificationSubject}}</p>
                                    <h5 class="mt-4">{{sidebarService.modalContent.notificationContent}}</h5>

                                    <input type="file" id="myFile" name="filename"
                                        (change)="fileChangeEvent($event)">
                                    <button type="submit" class="btn btn-outline-primary"
                                        [disabled]="buttonDisable">Submit</button>
                                </div>
                            </ng-template>
                        </li>
                        <li ngbNavItem="middle">
                            <a ngbNavLink>Curiculum</a>
                            <ng-template ngbNavContent>
                                <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson
                                    artisan four loko
                                    farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer
                                    mlkshk aliquip jean shorts
                                    ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna
                                    delectus mollit. Keytar
                                    helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny
                                    pack odio cillum wes anderson
                                    8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson
                                    biodiesel. Art party scenester
                                    stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                            </ng-template>
                        </li>
                        <li ngbNavItem="bottom">
                            <a ngbNavLink>Grades</a>
                            <ng-template ngbNavContent>
                                <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh
                                    elit id diam. Nulla facilisi.
                                    Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget
                                    tincidunt eu, congue et odio.
                                    Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus
                                    ultrices et. Sed diam urna,
                                    egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu.
                                    Vivamus faucibus nisl enim, nec
                                    tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci
                                    varius natoque penatibus et
                                    magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem
                                    aliquet ultricies in eget
                                    neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
                            </ng-template>
                        </li>
                    </ul>

                    <div [ngbNavOutlet]="nav" class="ml-4"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="onCloseHandled()"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>