.sidebar {
  width: 20%;
  color: rgb(217, 217, 217);
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

li {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
li:hover {
  cursor: pointer !important;
}
li:active {
  color: aqua;
}

.fixed {
  position: fixed !important;
  margin-top: 10% !important;
}

.sticky {
  position: sticky !important;
}
