.sidebar{
    width: 20%;
    color: rgb(217, 217, 217);
}
li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

li:active{
    transform: scale(1.2);
    z-index: 2;
}

.sticky{
    position: sticky !important;
    
}