<div class="sidebar sticky  sticky-top vh-100">
    <ul>
        <li>
            <fa-icon [icon]="faHome" (click)="updateMainView('updates')"
                [ngStyle]="{'color':sidebar.feedStatus == 'updates' ? 'aqua':''}" class="mt-4 fa-lg"></fa-icon>
        </li>
        <li>
            <fa-icon [icon]="faBook" (click)="updateMainView('courses')"
                [ngStyle]="{'color':sidebar.feedStatus == 'courses' ? 'aqua':''}" class="mt-4 fa-lg"></fa-icon>
        </li>
        <li>
            <fa-icon [icon]="faBell" (click)="updateMainView('notifications')"
                [ngStyle]="{'color':sidebar.feedStatus == 'notifications' ? 'aqua':''}" class="mt-4 fa-lg"></fa-icon>
        </li>
        <li>
            <fa-icon [icon]="faSettings" (click)="updateMainView('settings')"
                [ngStyle]="{'color':sidebar.feedStatus == 'settings' ? 'aqua':''}" class="mt-4 fa-lg"></fa-icon>
        </li>
        <li>
            <fa-icon [icon]="faSignOut" (click)="logout()" class="mt-4 fa-lg"></fa-icon>
        </li>
    </ul>
</div>