<div class="sidebar vh-100">
   <ul>
       <li> <fa-icon [icon]="faHome" (click)="updateMainView('updates')" class="mt-4 fa-lg"></fa-icon></li>
       <li> <fa-icon [icon]="faBook" (click)="updateMainView('courses')" class="mt-4 fa-lg"></fa-icon></li>
       <li> <fa-icon [icon]="faBell" (click)="updateMainView('notifications')" class="mt-4 fa-lg"></fa-icon></li>
       <li> <fa-icon [icon]="faSettings" (click)="updateMainView('settings')" class="mt-4 fa-lg"></fa-icon></li>
       <li> <fa-icon [icon]="faSignOut" (click)="updateMainView('logout')" class="mt-4 fa-lg"></fa-icon></li>
   </ul>
</div>
